@page
@model LogoutModel
@{
    ViewData["Title"] = "Logout page";
}

<div class="text-center">
    <h1 class="display-4">Déconnexion</h1>
	<p>
		En cliquant sur ce lien ta session sera fermée. Si tu utilies un ordinateur de la menuiserie cette action n'aura aucuns effets.
	</p>
	<p>
		<input />
	</p>
</div>
